h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    font-style: inherit;
    font-weight: 700;
    color: #ff8fc1;
    padding: 0.5rem 0.5rem;
   
}

h5{
   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 450;
    color: #ff8fc1;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;

}